body {
  margin: 0px;
}

.background-image {

  position: fixed;
  left: 0px;
  right: 0px;
  display: block;
  margin: 0px;

  width: 100%;
  height: 100%;
  background-color: #ffe6cc;

  overflow: hidden;
  /*transform: scale(1.03);*/

  z-index: 1;
}

.content {
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 9999;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 96%;
  overflow: hidden;
}

#menu {
  width: 100%
  height: 44px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;

  top: 0%;
  overflow: auto;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.title {
  font-size: 36px;
  width: 10%;
  float: left;
  background-color: #1abc9c;
  padding: 15px;
  font-family: fantasy;
  color: white;
}

div.goalList {
  overflow-y: scroll;
  position: relative;
  right: 1100px;
  float: right;
  width: 30%;
  height: 95%;
  margin-top: 21px;
}

p.goalList {
  background-color: #ccc;
  padding: 15px;
  margin-bottom: 15px;
  margin-top: 0px;
}

p.goalList:hover {
  background-color: #aaa;
}

/*Create an animation for this.*/
p.goalList:active {
  background-color: #1abc9c;
  /*-webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;*/
}

p.accordion.current {
  background-color: #1abc9c;
}

div.goalDisplay {
  position: relative;
  margin: 10px;
  margin-right: 20px;
  width: 55%;
  height: 855px;
  background-color: #1abc9c;
  font-family: fantasy;
  color: white;
  left: 43%;
}

h1.goalDisplay {
  text-align: center;
}

/*NOTE: For webkit browsers only, such as Chrome, Safari.*/
::-webkit-scrollbar {
 width: 15px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
     background-color: #1abc9c;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
     background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
     background-color: #1abc9e;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
     background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
